@media (max-width: 1440px) {
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .product-detail-container {
    margin-top: 100px;
  }

  .detail-product-right {
    margin-top: 40px;
  }

  .liner-or-text {
    font-size: 2.6rem;
  }

  /* Slide thumb */
  .detail-product-right {
    margin-top: 100px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .sv-slider-item img {
    height: 300px;
  }

  .liner-or-text {
    font-size: 2rem;
  }

  /* Thumb slide */
  .detail-product-left .thumb-img {
    height: 50px;
  }
}

@media (min-width: 600px) and (max-width: 738px) {
}

@media (min-width: 370px) and (max-width: 599px) {
  .detail-product-left .sv-slider-item img {
    height: 400px;
  }
}

@media (max-width: 369px) {
  .product-detail-container {
    margin-top: 90px;
  }

  /* Thumb slide */
  .detail-product-left .slick-thumb {
    bottom: -50px;
  }

  .detail-product-right {
    margin-top: 60px;
  }

  .detail-product-left .thumb-img {
    height: 40px;
  }

  .detail-product-left .sv-slider-item img {
    height: 350px;
  }
}
