@media (max-width: 1440px) {
  .header__slider-img {
    object-position: 0px 0;
    height: 800px;
  }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  /* Slide 1 */
  .slide-container {
    top: 60px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__slider-img {
    object-position: -60px 0;
    height: 550px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .header__slider-img {
    object-position: 0px 0;
    height: 400px;
  }
}

@media (min-width: 600px) and (max-width: 738px) {
}

@media (min-width: 370px) and (max-width: 599px) {
  .header__slider-img {
    object-position: -150px 0;
    height: 380px;
  }
}

@media (max-width: 369px) {
  .header__slider-img {
    object-position: -120px 0;
    height: 300px;
  }
}
