@media (max-width: 1440px) {
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .show-on-mobile-tablet {
    display: block;
  }

  .add-cart-btn {
    top: 0px;
    right: 0px;
    opacity: 1;
    color: #000;
  }

  .container__trending-item:hover .add-cart-btn {
    transform: translateX(0);
  }

  /* Trending container */
  .container__trending {
    margin-top: 90px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .show-on-tablet {
    display: block;
  }

  .container__trending-item {
    height: 290px;
  }
}

/* Mobile */
@media (max-width: 739px) {

  .container__product-item {
    margin-bottom: 50px;
  }
}

@media (min-width: 600px) and (max-width: 738px) {
  .container__trending-item {
    height: 550px;
  }
}

@media (min-width: 370px) and (max-width: 599px) {
  .container__trending-item {
    height: 350px;
  }

  .app__container-title {
    font-size: 2.4rem;
  }
}

@media (max-width: 369px) {
  .container__trending-item {
    height: 290px;
  }

  .app__container-title {
    font-size: 2.4rem;
  }
}
